body {
    padding: 10px;
}


textarea {
    height: 100vh;
    width: 80%;
}

.ad_button_allignment{
    display: flex;
    justify-content: flex-end;
    width: 615px;
}


.comments_box{
    background-color: red;
}